.rs-btn-play {
    background: white url(chrome-extension://amfojhdiedpdnlijjbhjnhokbnohfdfb/assetsReader/img/readicon.svg) center center no-repeat;
    height: 24px;
    width: 24px;
    cursor: pointer;
    outline-style: none;
    border-radius: 3px;
    box-shadow: 0px 0px 8px black;
    border: none !important;
  }
  .rs-btn-play:hover {
    transform: scale(1.1);
  }
  